.edit-crud-container {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  
}

.edit-crud-container > div {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;
}
.edit-crud-container > div > svg {
  cursor: pointer;
}
.options-menu-users {
  overflow: hidden;
  border-radius: 5px;
  width: 40px;
  transition: 0.2s;
}
.options-menu-users-open {
  overflow: hidden;

  border-radius: 5px;
  background-color: var(--SecondaryContainer-color);
  width: 85px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.options-menu-users-more-options-sedes {
  overflow: hidden;
  background-color: var(--SecondaryContainer-color);
  border-radius: 5px;
  width: 145px;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.edit-crud-container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 6px;
    cursor: pointer;
    
}

/* .edit-crud-container-icon:hover {
    background-color: var(--SurfaceDarked-color);

} */
