.container {
  display: grid;
  grid-template-rows: 10% auto;
}

.note-container {
  height: 250px;
  width: 95%;
  background-color: var(--SurfaceContainer-color);
  justify-self: center;
  display: grid;
  grid-template-rows: 70% auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.textarea-card-files:focus{
outline: none;
}

.text-img-curso{
  position: absolute;
  align-self: center;
  margin-left: 14px;
  margin-top: 25px;
  padding: 10px;
  background-color: var(--SurfaceContainer-color);
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  color: var(--OnsurfaceVariant);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.cursos-card-text{
  display: flex;
  justify-content: center;
  align-items:  start;
  flex-direction: column;
  background-color: var(--SurfaceContainer-color);
  padding-left: 14px;
}
.cursos-card-img{
  background-color: var(--SurfaceDarked-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cursos-container-texto{
  color: var(--OnsurfaceVariant)
}

.cursos-default-imgs{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.entrar-curso-btn{
  border-radius: 50px;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 17px;
  background-color: var(--PrymaryContainer-color);
  color: var(--OnPrymary-color);
  cursor: pointer;

  
}


.cursos-home-grid{
  display: grid;
  grid-template-areas: "a a a";
  row-gap: 20px;
  grid-auto-columns: 20%;
  justify-content: center;
}



.titulo{
  display: grid;
  place-items: center;
}

@media only screen and (max-width: 1005px) {

  .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  .cursos-home-grid{
    display: grid;
    grid-template-areas: "a a";
    
    row-gap: 20px;
    
    justify-content: center;
    
  }

  
  
}

@media only screen and (max-width: 810px) {

  .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  .cursos-home-grid{
    display: grid;
    grid-template-areas: "a a";
    
    row-gap: 20px;
    grid-auto-columns: 40%;
    justify-content: center;
    
  }

  
  
}

@media only screen and (max-width: 750px) {

  .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  .cursos-home-grid{
    display: grid;
    grid-template-areas: "a";
    justify-content: center;
    row-gap: 20px;
    grid-auto-columns: 100%;
    justify-content: center;
    
  }

}
