.read-container-modal-{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border: none;
}

.read-nombre-modal,
.read-opciones-modal,
.read-contenidos-modal {
  height: 10.5vh;
  background-color: gainsboro;
}

.read-opciones-modal{
    display: flex;
    place-items: center;
    justify-content: center;
}


.read-nombre-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.subCont-container {
  height: 11vh;
  overflow: hidden;
}
