.user-info-card {
  border-radius: 5px;
  height: 35vh;
  width: 37vh;
  display: grid;
  background-color: var(--SurfaceLow-color);
  grid-template-rows: 25% auto;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.user-avatar-container{
  align-self: center;
  margin-left: 5px;
}

.user-info-card-animated {
  border-radius: 5px;
  height: 35vh;
  width: 37vh;
  display: grid;
  animation: tilt-shaking infinite linear 0.2s;
  grid-template-rows: 25% auto;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--SurfaceLow-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.user-info-card-selected {
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  margin-right: 35px;
  height: 30vh;
  width: 32vh;
  display: grid;
  transition: 0.2s;
  margin-bottom: 25px;
  grid-template-rows: 25% auto;
  background-color: var(--SurfaceLow-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.user-info-card-en-grupo {
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  margin-right: 35px;
  height: 30vh;
  width: 32vh;
  display: grid;
  transition: 0.2s;
  margin-bottom: 25px;
  grid-template-rows: 25% auto;
  background-color: var(--SurfaceLow-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  opacity: 0.5;
  .chekbox-users{
    display: none;
  }
  
}


.chekbox-users {
  border: 1.5px solid var(--PrymaryContainer-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;

  border-radius: 5px;
  margin-right: 10px;
  transition: 0.2s;
}

.chekbox-users-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: var(--PrymaryContainer-color);
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.2s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-Profile {
  display: grid;
  grid-template-columns: 25% auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  background-color: var(--SecondaryContainer-color);
}

.user-circle-info {
  background-color: var(--SurfaceLow-color);
  height: 35px;
  width: 35px;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  margin-right: 5px;
}

.user-info-text {
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
  padding-left: 15px;
}

.user-nombre,
.user-apellidos,
.user-cedula,
.user-email {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  color: var(--OnsurfaceVariant);
  gap: 5px;
}

.user-name {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}
