.Delete-file-btn-1{
    
    background-color: var(--Surface-color);
    border-radius: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}