.subcontenido-edit-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 10vh;
  color: var(--OnsurfaceVariant);
  padding-right: 10px;
  
}

.subcontenido-edit-container:hover{
  background-color: var(--SurfaceContainer-color);
}

.subcontenidos-nombre {
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 20px;
}

.subcontenidos-btns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
