.UserInfoPage {
  
  height: 100vh;
  display: grid;
  grid-template-rows: 10.1% auto;
}

.UserInfoMain {
  display: grid;
  grid-template-columns: 21% auto;
  overflow: hidden;

}
.UserInfoSide {
    
}
.UserInfoCenter{
   display: grid;
   grid-template-rows: 15vh auto;
   max-height:  90vh;
   overflow-y: auto;
  
   
}