.triangulos-grandes-fondo {
  height: 50%;
  width: 40%;
  margin: -5% 63%;
  z-index: -1;
  position: absolute;
}

.d-logo {
  height: 50%;
  width: 40%;
  z-index: -1;
  position: absolute;
  margin: 30% 3%;
}
.Cuadro_login {
  width: 55%;
  border: solid 1px black;
  padding: 2%;
  margin: 2% 20%;
  border-radius: 4px;
  border-bottom: none;
  background-color: white;
}

.square_email_password {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.img-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imagen {
  height: 30%;
  width: 40%;
  margin-right: 15%;
}
.inputs {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-bottom: 20%;
  width: auto;
}

.b-t-n_class {
  padding: 15px;
  margin-left: 60%;
  color: white;
  border: none;
  width: 40%;
  background-color: rgb(180, 179, 179);
  border-radius: 6%;
}

.imagen-triangulo {
  height: 15%;
  width: 15%;
  margin: 10% 85%;
}
