.Cuadro_login {
  width: 43%;
  border: solid 1px black;
  padding: 30px;
  margin: auto;
  margin-top: 7%;
  border-radius: 4px;
  border-bottom: none;
}

.square_email_password {
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.img-inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imagen{
  height: 30%;
  width: 40%;
  margin-right: 15%;
}
.inputs{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  margin-bottom: 20%;
  width: 110%;
}

.b-t-n_class {
  padding: 15px;
  margin-left: 60%;
  color: white;
  border: none;
  width: 40%;
  background-color: rgb(180, 179, 179);
  border-radius: 6%;
}

.triangulo {
  margin-top: 10%;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 35px solid gray;
  margin-left: 85%;
}

.triangulo1 {
  width: 0;
  height: 0;
  border-top: 17px solid white;
  border-bottom: 17px solid white;
  border-left: 35px solid gray;
  margin-left: 88%;
  position: relative;
  margin-top: -6%;
  
}
