.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 65px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.close-button {
  top: -25px;
  right: 15px;
  position: absolute;
  font-size: 18px;
  margin: 30px;
  background-color: #dc3545;
  color: white;
  border: 1px solid #ccc;
  padding: 10px 20px; /*tamaño del boton  */
  border-radius: 5px; /* bordes redondeados */
  cursor: pointer; /*  cambia el cursor al estar sobre el boton*/
  margin-bottom: 20px; /*espacio al rededor de boton  */
  transition: background-color 0.3s ease;
}
