

.sidemenu-container{
    display: grid;
    grid-template-rows: 100%;
    height: 90.5vh;
    position: fixed;
    width: 20%;
}


.menu-container {
    overflow-y: auto;
    scrollbar-color: gray white;
    scrollbar-width: thin;
    max-height: 34.9rem;
    height: 100%;
}
  