

.sidemenu-container{
    display: grid;
    grid-template-rows: 100%;
    height: 80.5vh;
    position: fixed;
    width: 20%;
    
    
}

.sidemenu-container-noAdmin{
    display: grid;
    grid-template-rows: 100%;
    height: 80.5vh;
   
   
    position: fixed;
    width: 20%;
}

.menu-container {
    overflow-y: auto;
    scrollbar-color: gray white;
    scrollbar-width: thin;
    max-height: 30.2rem;
    height: 100%;
    
}
  