.read-sedes-container {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 35vh;
  border-radius: 5px;
  width: 37vh;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  
  overflow: hidden;
}

.read-sedes-container-animated {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 35vh;
  border-radius: 5px;
  width: 37vh;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  animation: tilt-shaking infinite linear 0.2s;
  transition: 0.2s;
}

.read-sedes-container-selected {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-self: center;
  align-self: center;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 30vh;
  width: 32vh;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.chekbox-sedes{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
    transition: 0.2s;
}

.chekbox-sedes-selected{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #174ea6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 10px;
    transition: 0.2s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.read-sedes-nombre,
.read-sedes-ubicacion {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  gap: 5px;
}

.read-sedes-info {
  display: grid;
  grid-template-rows: auto auto;
  border-top: 1.5px solid rgba(0, 0, 0, 0.2);
}


.superpuesto{
    
    position: absolute;
    justify-self: end;
    
    
}