.read-sedes-container {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 35vh;
  border-radius: 5px;
  width: 37vh;

  transition: 0.2s;
  background-color: var(--SurfaceLow-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  overflow: hidden;
}

.read-sedes-container-animated {
  display: grid;
  grid-template-rows: 60% 40%;
  height: 35vh;
  border-radius: 5px;
  width: 37vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  animation: tilt-shaking infinite linear 0.2s;
  background-color: var(--SurfaceLow-color);
  transition: 0.2s;
  overflow: hidden;
}

.read-sedes-container-selected {
  display: grid;
  grid-template-rows: 60% 40%;
  justify-self: center;
  align-self: center;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 30vh;
  width: 32vh;
  margin-right: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: var(--SurfaceLow-color);
  transition: 0.2s;
  overflow: hidden;
}

.chekbox-sedes {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s;
}

.chekbox-sedes-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--PrymaryContainer-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s;
}

.chekbox-sedes-selected > svg {
    fill: var(--OnPrymary-color);
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.read-sedes-nombre,
.read-sedes-ubicacion {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5px;
  gap: 5px;
  color: var(--OnsurfaceVariant);
}

.read-sedes-info {
  display: grid;
  grid-template-rows: auto auto;
  
}

.read-sedes-img{
   display: flex;
   justify-content: center;
   align-items: center;
}

.superpuesto {
  position: absolute;
  justify-self: end;
}
