.subContenido {
  height: 40px;
  display: flex;
  place-items: center;
  cursor: pointer;
  color: var(--OnsurfaceVariant);
  font-size: 18px;
}

.subContenido:hover{
  background-color: var(--SurfaceContainer-color);
}
