

.CUP-container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
  background-color: var(--SurfaceContainer-color);
}


.nav_info_main {
  display: grid;
  grid-template-rows: auto 0%;
  overflow: hidden;
}

.nav_info_main-cargando {
  display: grid;
  grid-template-rows: auto 5%;
  overflow: hidden;
}

.side-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.C-U-Nav{
 
  display: grid;
  grid-template-columns: 6.5% auto;
}


main {
  transition: 0.3s ease;
  display: grid;
}

.navbar-edit-options {
  
  display: flex;
justify-content: start;
align-items: center;
gap: 20px;

}



.navbar-edit-options > svg {
  cursor: pointer;
  fill: var(--OnsurfaceVariant);
}

.aside-nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: start;
}

.side-bar-nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
  row-gap: 20px;
}

.side-bar-nav > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  color: var(--OnsurfaceVariant);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.side-bar-nav > div:hover{
    background-color: var(--SurfaceDarked-color);
    border-radius: 5px;
    color: var( --Onsurface-color);
}

.side-bar-nav > svg {
  cursor: pointer;
  fill: var(--OnsurfaceVariant);
}
.CUP-Iteradores {
  display: grid;
  padding-top: 2%;
  grid-template-areas: "a a a a";
  grid-auto-rows: 47%;
  grid-auto-columns: 24%;
  height: 95.7%;
  overflow: auto;
  scrollbar-width: thin;
  padding-left: 80px;
  border-top-left-radius: 5px;
  background-color: var(--Surface-color);
}

.CUP-Iteradores-2 {
  display: grid;
  padding-top: 4%;
  justify-content: center;
  grid-template-areas: "a a";
  grid-auto-rows: 47%;
  column-gap: 40px;
  height: 94.7%;
  overflow: auto;
  scrollbar-width: thin;
  border-top-left-radius: 5px;
  background-color: var(--Surface-color);
}
