.CUP-container {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100vh;
}

.side-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f2f3f4;
}
nav {
  border: 1.5px black solid;
  display: grid;
  grid-template-columns: 7% auto;
}
main {
  border: solid black 1.5px;
  transition: 0.3s ease;
  display: grid;
}

.navbar-edit-options {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}

.navbar-edit-options > svg {
  cursor: pointer;
}

aside {
  border-top-right-radius: 20px;
  z-index: 2;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-bar-nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f2f3f4;
  padding-top: 25px;
  row-gap: 25px;
}

.side-bar-nav > svg {
  cursor: pointer;
}
.CUP-Iteradores {
  display: grid;
  padding-top: 2%;
  justify-content: center;
  grid-template-areas: "a a a a";
  grid-auto-rows: 47%;
  column-gap: 40px;
  height: 95%;
  overflow: auto;
  scrollbar-width: thin;
}

.CUP-Iteradores-2 {
  display: grid;
  padding-top: 4%;
  justify-content: center;
  grid-template-areas: "a a";
  grid-auto-rows: 47%;
  column-gap: 40px;
  height: 95%;
  overflow: auto;
  scrollbar-width: thin;
}
