.Info-page {
  display: grid;
  height: 100vh;
  grid-template-rows: 11.5% auto;
}

@media only screen and (max-height: 1000px) and (max-width: 415px) {
  .Info-page {
    display: grid;
    grid-template-rows: 13.5% auto;
  }
}

/*Main*/

.Info-page-main {
  display: grid;
  grid-template-columns: 25% 75%;
}



.Info-page-sidebar {
  border: 1.5px black solid;
  height: 100%;
 
}

.Info-page-file {
  display: flex;
  justify-content: center;
  align-items: center;
}

