.Info-page {
  display: grid;
  height: 100vh;
  grid-template-rows: 20.5% auto;
}

.Info-nav-container {
  
  border: 1px black solid;
}

.Info-nav {
  border: solid black 1.5px;
}

.Info-subnav {
  border: solid black 1.5px;
}

/*Main*/

.Info-page-main {
  display: grid;
  grid-template-columns: 20% 80%;
}

.Info-page-sidebar {
  border: 1.5px black solid;
  height: 100%;
}

.Info-page-file {
  border: 1.5px black solid;
}
