.modal-dlg {
  border: none;
  height: 70%;
  width: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.modal-dlg:focus {
  outline: none;
}

.menu-dlg-content {
  display: grid;
  grid-template-rows: auto 80%;
  height: 100%;
  width: 100%;
}

.menu-dlg-iterators {
  border-top: none;
  background-color: var(--Surface-color);
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 5px;
}

.menu-dlg-iterators-vacio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  border-top: none;
  background-color: var(--Surface-color);
  overflow: auto;
  scrollbar-width: thin;
  border-radius: 5px;
  color: var(--OnsurfaceVariant);
}

.menu-info-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-sidebar-btn {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.edit-sidebar-btn:focus {
  outline: none;
}
