.drag-div {
    height: 50%;
    background-color: red;
    border: 1.5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.drag-div-label{
 height: 50%;
 width: 50%;
 display: flex;
 place-items: center;
 background-color: aqua;
}

.file_inp{
    display: none;
}